html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*base styles*/
body {
  font-family: 'Gruppo';
  color: azure;
  background: white;
  text-align: center; }

form {
  bottom: 11rem;
  left: 32rem;
  position: fixed; }

select,
input,
label {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2rem;
  padding: 0.3rem;
  z-index: 500; }

fieldset {
  border-radius: 0.5em;
  background-color: rgba(198, 229, 198, 0.93);
  box-shadow: 0 0 2rem #56645a;
  width: 20%; }

legend {
  background: white;
  border-top-right-radius: 0.5rem;
  color: #121227;
  padding: 0.6rem;
  text-align: left; }

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem; }

video {
  background-size: cover;
  bottom: 0rem;
  min-height: 100%;
  min-width: 100%;
  right: 0rem;
  width: auto;
  z-index: -100; }

.center-box {
  margin-left: auto;
  margin-right: auto; }

.content-container {
  position: absolute;
  background-size: cover;
  bottom: 0rem;
  min-height: 100%;
  min-width: 100%;
  right: 0rem;
  width: auto; }

.account-page {
  overflow: hidden;
  color: black;
  position: relative;
  top: 5em;
  z-index: -1; }

.smallVideo {
  min-width: 30%;
  width: 30%; }

.share-box {
  margin: 0 auto;
  margin-top: 2em;
  width: 20%; }

.video-box {
  margin-top: 10em; }

header {
  background-color: #7fab8d;
  left: 0;
  text-align: left;
  top: 0;
  position: fixed;
  z-index: 200;
  color: white; }

footer {
  background-color: #7fab8d;
  bottom: 0;
  left: 0;
  padding: 0.1em 0 0.1em 0;
  position: fixed;
  z-index: 100; }

footer p {
  color: white;
  font-size: 1.2em; }

.main-logo {
  cursor: pointer;
  margin-left: 0.1em;
  font-size: 3.2rem; }

.absolute-title {
  margin-top: -20rem;
  background: rgba(255, 255, 255, 0.13);
  width: 100%;
  height: 15em; }

.hidden {
  visibility: hidden; }

.inline-list {
  display: inline; }

.registerButton {
  border-radius: 0.5em;
  font-family: 'Gruppo';
  color: azure;
  background-color: #7fab8d;
  font-size: 2rem;
  margin: .5em auto;
  position: relative;
  padding: .2em;
  z-index: 99;
  border: none; }

.serviceInfo {
  background-color: #243429;
  bottom: 0rem;
  color: white;
  font-size: 2.2rem;
  height: 11rem;
  padding-top: 0.5rem;
  position: absolute;
  width: 100%; }

.info-tag {
  font-size: 1.2rem;
  margin-left: 0.3rem; }

.tagLine {
  color: white;
  font-size: 5rem;
  margin-top: 28rem;
  z-index: 100; }

/**/
.white-text {
  color: white; }

.orange-text {
  font-size: 1.5em;
  color: orange; }

.full-width {
  width: 100%; }

.greeting {
  margin-left: 0.1em;
  font-size: 2.5em; }

.small-icon {
  width: 15%; }

.share-title {
  font-size: 1.5em;
  margin-right: 0.1em; }

.video-box p {
  font-size: 1.5em;
  margin-left: 5%;
  margin-bottom: 1em;
  text-align: left; }

/**/
.nav-list {
  width: 100%;
  margin: 0;
  position: fixed;
  margin-top: 3.2em;
  background: #83ad90;
  overflow: hidden;
  display: none;
  top: 0em;
  left: 0;
  box-sizing: border-box;
  padding: .3em; }

.drop-list {
  text-align: left;
  font-size: 2.5em;
  margin: 0; }
  .drop-list li {
    margin-left: .1em;
    z-index: 100; }

.menu-btn {
  font-size: .5em;
  margin-right: 1em; }

.inline-list:hover {
  color: black;
  cursor: pointer;
  transition: color 0.5s; }

.registerButton:hover {
  box-shadow: 0 0 1rem #56645a;
  color: black;
  cursor: pointer;
  transition: color 0.5s; }

.drop-list li:hover {
  background: #324c3a;
  cursor: pointer;
  margin-left: .2em;
  color: white;
  transition: margin-left .2s; }

@media (max-width: 1100px) {
  ul {
    font-size: 1.2em; }

  .tagLine {
    font-size: 2.9em; }

  .registerButton {
    font-size: 1.5em;
    width: 40%;
    padding: 0.6em; }

  .serviceInfo {
    font-size: 2em;
    height: auto;
    top: 2.2em;
    margin-top: 10.4em;
    margin-bottom: 1em; }

  .orange-text {
    font-size: 1em; }

  form {
    bottom: 5.5em;
    left: 0;
    margin-left: 8.3em; }

  fieldset {
    width: 60%; }

  input {
    border: 2px solid white;
    width: 60%; }

  footer {
    height: 2em; }

  .orange-text {
    font-size: 1.4em; } }
@media (max-width: 600px) {
  header {
    padding-bottom: .7em;
    text-align: center; }

  ul {
    font-size: 1.1em;
    margin-top: 1em;
    margin-right: 2.5em; }

  .tagLine {
    color: black;
    font-size: 2.5rem; }

  .registerButton {
    width: 70%;
    padding: 0.6em; }

  .serviceInfo {
    font-size: 1.8em;
    height: auto;
    top: 2.2em;
    margin-top: 10em; }

  .over-video {
    margin-top: -21rem;
    background: rgba(255, 255, 255, 0.13);
    width: 100%;
    height: 15em; }

  .info-tag {
    font-size: 0.9em;
    margin-top: 2em; }

  .orange-text {
    font-size: 1em; }

  form {
    bottom: 12em;
    left: -6em;
    z-index: 101; }

  fieldset {
    width: 80%; }

  input {
    border: 2px solid white;
    width: 60%; }

  input[type="submit"] {
    border-radius: .5em;
    width: 20%; }

  button {
    border: none;
    border-radius: .5em;
    padding: .2em;
    width: 20%; }

  footer {
    height: 1.6em; } }

/*# sourceMappingURL=style.css.map */
