.inline-list:hover{
  color: black;
  cursor: pointer;
  transition: color 0.5s;
}

.registerButton:hover{
  box-shadow: 0 0 1rem rgb(86, 100, 90);;
  color: black;
  cursor: pointer;
  transition: color 0.5s;
}

.drop-list li:hover{
  background: rgb(50, 76, 58);
  cursor: pointer;
  margin-left: .2em;
  color: white;
  transition: margin-left .2s;
}
